* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* User will not select anythting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
body {
  background: linear-gradient(116.02deg, #000428 0.77%, #004e92 99.63%);
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
  color: white;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* css for header starts*/

.nav-area {
  /* border: 1px solid white; */
  max-width: 980px;
  background: none;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  height: 130px;
  /* border-bottom: 2px solid white; */
  justify-content: space-between;
}

.nav-logo {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}
.nav-logo img {
  margin-left: -50px;
}
.header-text {
  margin-left: 0px;
  flex: 1;
}
.nav-links {
  flex-basis: 80%;
  display: flex;
  align-items: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

/* .nav-links ul li a.active{
    border-bottom: 1px solid white;
} */
.nav-links ul li a {
  border-radius: 50px;
  padding: 5px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links ul li a:hover {
  background-color: rgba(255, 255, 255, 0.308);
}

.nav-links ul {
  margin: 0 0 0 auto;
}

@media (max-width: 800px) {
  .nav-links ul {
    display: none;
  }
  .nav-links .menu {
    display: block;
  }
}

/* Hamburger menu css starts */
.menu {
  /*border: 1px solid rgb(255, 255, 255); */
  margin-right: 10px;
  padding-top: 5px;
  width: 55px;
  margin: 0 0 0 auto;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}
.menu:hover .line-1 {
  background-color: rgba(255, 255, 255, 0.6);
}
.menu:hover .line-2 {
  background-color: rgba(255, 255, 255, 0.6);
}
.menu:hover .line-3 {
  background-color: rgba(255, 255, 255, 0.6);
}
.line-1,
.line-2,
.line-3 {
  margin-left: 12px;
  height: 3px;
  border-radius: 50px;
  margin-bottom: 5px;
  background-color: white;
}

.menu .line-1 {
  width: 30px;
}

.menu .line-2 {
  width: 20px;
}

.menu .line-3 {
  width: 10px;
}
.cross {
  text-align: center;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
  transform: rotate(44.5deg);
}

/* Hamburger menu css ends */
@media (max-width: 800px) {
  .responsive-menu {
    position: absolute;
    width: 100vw;
    left: -780px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(2, 2, 2, 0.7);
    /* opacity: 0.3; */
    transition: 1s;
    display: none;
  }

  html {
    overflow: auto;
  }
}

.responsive-menu {
  display: none;
}

.responsive-nav-links ul li a {
  color: white;
  text-decoration: none;

  font-family: Noto Sans, sans-serif;
  border-bottom: 1px solid white;
  transition: 0.3s;
}

.responsive-nav-links ul li a:hover {
  border-radius: 50px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.308);
}
.responsive-nav-links ul li {
  list-style: none;
  font-size: 25px;
  margin-bottom: 20px;
}
.responsive-menu ul {
  margin-top: -150px;
}

.responsive-nav-links {
  /* border: 1px solid white; */
  text-align: center;
  padding-top: 20px;
  margin: auto;
}
/* ------------------------------------------------------------------------------ */
/* css for header ends */

/* hero section styling starts */
.hero {
  /* height: 500px; */
  /* border: 2px solid white; */
}
.top-hero-style {
  position: absolute;

  /* top: -80px; */
  right: 0;
  top: 130px;
  display: none;
}

.bottom-hero-style {
  position: absolute;
  /* top: -80px; */
  left: 0;
  top: 597px;
  display: none;
}
@media (min-width: 960px) {
  .top-hero-style {
    display: block;
  }
  .bottom-hero-style {
    display: block;
  }
}
.hero-text {
  opacity: 0.9;
}
.hero-profile {
  width: 394px;
  height: 394px;
  border-radius: 50%;
  box-shadow: 12px 12px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .hero-profile {
    height: 200px;
    width: 200px;
  }
}

/* .extra-space {
  display: none;
} */

.lineBreak {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid white;
}
/* ----------------------------------------------------------------------- */
/* About section styling starts */
.about-img-1 {
  margin-top: 30px;
  height: 250px;
}
/* .about-img-2 {
  margin-top: -250px;
  margin-left: 120px;
  height: 200px;
  display: none;
} */

/* @media (min-width: 994px) {
  .about-img-1 {
    display: block;
  }
  .about-img-2 {
    display: block;
  }
} */

/* ------------------------------------------------------- */
/* service styling starts here */
.service {
  width: 283px;
  height: 302px;
  background: #002c62;
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 5px rgba(255, 255, 255, 0.9);
  border-radius: 27px;
}
.service-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}
/* Education Styling */

.education {
  width: 882px;

  background: #002c62;
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 5px rgba(255, 255, 255, 0.9);
  border-radius: 27px;
}
.ed-logo {
  margin: 20px;
}
.ed-text {
  font-style: normal;
  font-size: 24px;
}
.res-ed {
  display: none;
}
@media (max-width: 500px) {
  .simp-ed {
    display: none;
  }
  .res-ed {
    display: block;
  }
}
@media (max-width: 992px) {
  .ed-text {
    font-style: normal;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .ed-text {
    font-style: normal;
    font-size: 16px;
  }
}

/* ===============Education sections ends ================= */
